@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0062be;
    transition: .5s;
}

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 80px;
    transition: .5s linear;
}

header .logo:hover {
    transform: rotate(360deg);
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-weight: 400px;
    margin-left: 40px;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .text-box {
    position: relative;
    max-width: 500px;
}

.content .text-box h2 {
    color: #fff;
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
}

.content .text-box h2 span {
    font-size: 2em;
}

.content .text-box p {
    color: #fff;
}

.content .text-box a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #fff;
    color: #111;
    border-radius: 40px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.content .img-box {
    width: 600px;
    display: flex;
    padding-right: 50px;
    margin-top: 50px;
    justify-content: flex-end;
}

.content .img-box img {
    max-width: 260px;
}

.thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li img {
    max-width: 40px;
}

.thumb li img:hover {
    transform: translateY(-15px);
}

.social-networks {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-networks li {
    list-style: none;
}

.social-networks li a {
    display: inline-block;
    filter: invert(1);
    margin: 6px 0;
    transform: scale(0.6);
}

.social-networks li a:hover {
    filter: invert(0);
}

.links li a:hover {
    color: #000;
    font-weight: bold;
}

.description {
    position: relative;
    padding: 50px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.description .fly {
    width: 50%;
    padding: 20px;
}

.description .fly img {
    width: 100%;
    height: 500px;
}

.description .description-content {
    width: 50%;
    min-height: 1000px;
    padding: 20px;
    background: #e60c2c;
    margin-bottom: 100px;
    border-radius: 30px;
}

.description .description-content p {
    color: #fff;
    line-height: 1.6;
    margin: 16px;
    padding: 50px;
}

.boton-wpp {
    position: fixed;
    right: 30px;
    bottom: 16px;
}

.boton-wpp img {
    width: 80px;
    cursor: pointer;
}